.env
__pycache__
.vscode/
*.keras
*.pt

Day03_Predicting Housing Market Trends with AI/data/

Day08_Vision AI Fundamentals-Building a Digit Recognizer from Scratch/data/
Day08_Vision AI Fundamentals-Building a Digit Recognizer from Scratch/ann_model.h5
Day08_Vision AI Fundamentals-Building a Digit Recognizer from Scratch/cnn_model.h5

Day09_Advanced Vision AI-Fast-Tracking Image Classification with Transfer Learning/mobilenetv2_flowers.keras
Day09_Advanced Vision AI-Fast-Tracking Image Classification with Transfer Learning/resnet50_flowers.keras
Day09_Advanced Vision AI-Fast-Tracking Image Classification with Transfer Learning/vgg16_flowers.keras